.business {
    background-image: url("../../../assests/images/Banner/summery_1920x500\ \(1\).png");
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.business:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 19, 0.584);
    z-index: -1;
}